{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Development - {{ block.super }}
{% endblock title %}
{% block content %}

<header class="bg-white black-80 tc pv4 avenir ttu">
    <a href="{% url 'home' %}" class="b--black dib w4 h3 br-100">
        <img src="{% static 'media/signature.png' %}">

    </a>
    <nav class="bt bb tc mw7 center mt4">
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l"
            href="{% url 'development' %}">Development</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l"
            href="{% url 'illustration' %}">Illustration</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l"
            href="{% url 'about' %}">About</a>
    </nav>
</header>

<header class="ph4 avenir">
    <h1 class="f3 f2-m f1-l fw2 black-90 mv1">
        Development Work
    </h1>
    <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
        Here, I keep some of my most recent development work.
    </h2>
</header>

<article>
    <a href="{% url 'spotswood' %}" class="fl w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background:url('{% static 'media/test-dev-3.png' %}')center; background-size: cover;">
        </div>
    </a>
    <a href="{% url 'kaiketsu' %}" class="fl w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url('{% static 'media/kaiketsu-card.png' %}') no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="{% url 'react' %}" class="fl w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url('{% static 'media/react-card.png' %}') no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="{% url 'decreedly' %}" class="fl w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6"
            style="background: url('{% static 'media/decreedly-card.png' %}') no-repeat center center; background-size: cover;">
        </div>
    </a>
</article>




{% endblock content %}