{% extends 'base.html' %} {% block title %}
{% load staticfiles %}
Illustration - {{ block.super }}
{% endblock title %}
{% block content %}

<header class="bg-white black-80 tc pv4 avenir ttu">
    <a href="{% url 'home' %}" class="b--black dib w4 h3 br-100">
        <img src="{% static 'media/signature.png' %}">

    </a>
    <nav class="bt bb tc mw7 center mt4">
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l"
            href="{% url 'development' %}">Development</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l"
            href="{% url 'illustration' %}">Illustration</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l"
            href="{% url 'about' %}">About</a>
    </nav>
</header>


<article>
    <a href="https://geo.itunes.apple.com/us/movie/primer/id536457427?at=1l3vqFJ&ct=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/primer.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/the-big-short/id1061320456?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/the-big-short.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/bottle-rocket/id315360821?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/bottlerocket.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/ex-machina/id983488795?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6"
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/ex-machina.png) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/primer/id536457427?at=1l3vqFJ&ct=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/primer.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/the-big-short/id1061320456?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/the-big-short.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/bottle-rocket/id315360821?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/bottlerocket.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/ex-machina/id983488795?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6"
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/ex-machina.png) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/primer/id536457427?at=1l3vqFJ&ct=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/primer.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/the-big-short/id1061320456?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/the-big-short.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/bottle-rocket/id315360821?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6 "
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/bottlerocket.jpg) no-repeat center center; background-size: cover;">
        </div>
    </a>
    <a href="https://geo.itunes.apple.com/us/movie/ex-machina/id983488795?at=1l3vqFJ&mt=6"
        class="fl pa2 w-50 w-25-l link overflow-hidden">
        <div role="img" aria-label="" class="grow aspect-ratio--4x6"
            style="background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/ex-machina.png) no-repeat center center; background-size: cover;">
        </div>
    </a>
</article>


{% endblock content %}